<BODY>

<H1>Administration Page for WAIL</H1>
<H2>Actions for existing Lessons</H2>
<DIV class='admin1'>
   {{!-- <FORM id='adminform' action='/admin/action/update' method='post'>
      Lesson: <SELECT id='lessonchoice' name='lesson'>
	      {{#lessons}}
	      <OPTION value='{{id}}'>{{name}}</OPTION>
	      {{/lessons}}
      </SELECT>
      &nbsp;&nbsp;Action:
      <SELECT id='lessonaction' name='action'>
	      <OPTION value='ENABLE'>ENABLE</OPTION>
	      <OPTION value='DISABLE'>DISABLE</OPTION>
	      <OPTION value='INITIALIZE'>INITIALIZE</OPTION>
              <OPTION value='RESET'>ENABLE & RESET</OPTION>
      </SELECT>
      <br>
      <INPUT id='adminsubmit' type='submit' value='Do Action' />
   </FORM> --}}

   {{#lessons}}
   <DIV>
   <FORM id='adminform_{{id}}' action='/admin/action/update' method='post'>
      <LABEL>Lesson {{name}}: </LABEL>
      <INPUT type='hidden' name='lesson' value='{{id}}' />
 {{#if inited}}
 {{#if enabled}}
      <INPUT type='hidden' name='action' value='DISABLE' />
      <INPUT type='submit' value='DISABLE' />
 {{else}}
      <SELECT id='adminenabler' name='action'>
              <OPTION value='ENABLE'>CONTINUE</OPTION>
              <OPTION value='RESET'>RESET</OPTION>
      </SELECT>
      <INPUT type='submit' value='ENABLE' />
 {{/if}}
{{else}}
      <INPUT type='hidden' name='action' value='INITIALIZE' />
      <INPUT type='submit' value='INITIALIZE' />
{{/if}}
   <SPAN>Active Date: </SPAN><INPUT TYPE='date' name='activedate' value='{{activedate}}'/>
   </FORM>
   </DIV>
   {{/lessons}}
</DIV>
<BR>
<H2>Create a new lesson</H2>
<DIV class='admin2'>
   <FORM id='newlesson' action='/admin/action/new' method='post'>
      <LABEL class='newlabel'>Id:</LABEL>
      <INPUT type='text' id='newid'/>
      <BR>
      <LABEL class='newlabel'>Name:</LABEL>
      <INPUT type='text' id='newname'/>
      <BR>
      <LABEL class='newlabel'>Description:</LABEL>
      <INPUT type='text' id='newdesc'/>
      <BR>
      <LABEL class='newlabel'>Module:</LABEL>
      <INPUT type='text' id='newmodule'/>
      <BR>
      <LABEL class='newlabel'>Reference Lesson:</LABEL>
      <INPUT type='text' id='newref'/>
      <BR>
      <LABEL class='newlabel'>Active Date:</LABEL>
      <INPUT type='date' id='newdate'/>
      <BR>
      <INPUT type='hidden' name='action' value='NEW' />
      <SPAN id='newlessonerror' class='error hidden'></SPAN> 
      <INPUT id='newsubmit' type='submit' value='Add Lesson' />
   </FORM>
</DIV>
<BR>
<H2>Log Out</H2>
<DIV class='admin3'>
<A href='/home'>Log Out of Admin</A>
</DIV>

<SCRIPT>

$(function() {
        $("#newlesson").submit(event => checkNewLesson(event));
});

</SCRIPT>
</BODY>
