<BODY>
<DIV class='lessons'>
        {{#lessons}}
        {{#inited}}
        <P>
           {{#enabled}}
           <A class='activelesson' href="{{ url }}"> {{ name }}: {{description}} </A>  
           {{else}}
           <SPAN class='inactivelesson'<>{{name}}: {{description}}</SPAN> 
            {{/enabled}}
        </P>
        {{/inited}}
        {{/lessons}}
</DIV>

</BODY>